
  :root{
    --color_fondo_prop: #bce3e3;
    --color_bordes_prop: #7AA7AA;
    --color_texto: #263B3C;
    --bordes: 1px;
  }

  *{
    margin: 0;
    padding: 0;
  }  

  body{
    background-color:white;
    color:  var(--color_texto);
    font-size: 1rem;
    font-family: 'Patrick Hand', cursive;
  }

  /*.header{
    height: 100px;
    background-color: var(--color_fondo_prop);
    display: flex;    
  }*/
  header{
    height: 100px;
    display: flex;
    border-style: solid;
    border-color: var(--color_bordes_prop);
    border-width: 0px 0px 1px 0px;    
  }
  
  .contenedor_general
  {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    " l l l l "
    " i i b b "
    " i i b b "
    ;
    grid-gap: 10px;
    grid-template-rows: 100px 100vh 150px; 
  }

  .main{
    margin-top: 2rem;
    width: 75%;
  }
  .buscador
  {
    grid-area: b;
  }

  .logo
  {
    grid-area: l;
    border-style: solid;
    border-width: 7px;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-left: 15px;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: white;
  }

  /*.navegador
  {
    display: grid;
    height: 50px;
    grid-template-areas: "p_b s_b t_b c_b";
    grid-template-columns:  150px 150px 150px 150px;
    grid-gap: 5px;    

  }*/
  .navegador {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    height: 3rem;
  }
  .boton_nav>a{
    text-decoration: none;
    color: var(--color_texto);
  }

  .info
  {
    padding-left: 10px;
    padding-right: 10px;
    grid-area: i;
  }
  .info2
  {
    padding-left: 10px;
    padding-right: 10px;
    grid-area: b;
  }

  .footer{
    height: 100px;
    padding: 15px;
    background-color: var(--color_texto);
    color: #bce3e3;
    grid-area: f;

  }

  .prop-general
  {  
    background-color: var(--color_fondo_prop);    
    
    
  }

  .prop-logo
  {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .prop_busc
  {
    
    align-items: center;

  }

  .circulo-logo
  {
    height: 120px;
    width: 120px;
    border-style: solid;
    border-width: var(--bordes);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--color_bordes_prop);
    overflow: hidden;
  }

  .boton_nav
  {   
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: solid var(--color_bordes_prop) var(--bordes);   
    height: 75%;
    width: 10%;
    min-width: 100px;
    font-size: 20px;
    transition: 0.5s;
  }

  .boton_nav:hover
  {
    color: white;
    background-color: var(--color_bordes_prop);
    border-color: #58787A;
    padding: 5px;      
  }

  /*.primer_boton
  {
    grid-area: p_b;
  }

  .segundo_boton
  {
    grid-area: s_b;
  }

  .tercer_boton
  {
    grid-area: t_b;
  }

  .cuarto_boton
  {
    grid-area: c_b;
  }*/

  .mapa{
    border-radius: 50%;
  }

.footer{
  height: 100px;
  background-color: grey;
}