
  :root{
    --color_fondo_prop: #bce3e3;
    --color_bordes_prop: #7AA7AA;
    --color_texto: #263B3C;
    --bordes: 1px;
  }

  *
  {
    margin: 0;
    padding: 0;
  }

  body{
    background-color: var(--color_fondo_prop);
    color:  var(--color_texto);
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
  }

  .contenedor_general
  {
    display: grid;
    justify-content: center;
    grid-template-areas: 
    " n n n n "
    " i i i i "
    " p p p p "
    ;
    grid-gap: 10px;
    grid-template-rows: 100px 1000px 150px;
   


  }

  .buscador
  {
    grid-area: b;
  }

  .logo
  {
    grid-area: l;
  }

  .navegador
  {
    display: grid;
    grid-template-areas: "p_b s_b t_b c_b";
    grid-template-columns:  150px 150px 150px 150px;
    grid-gap: 5px;
    padding-left: 20px;
    grid-area: n;
  }

  .info
  {
    padding-left: 10px;
    padding-right: 10px;
    grid-area: i;
  }

  .pie
  {
    grid-area: p;
  }

  .prop-general
  {
  
    background-color: var(--color_fondo_prop);
    border-bottom: var(--color_bordes_prop);
    border-color: black;
    border-style: solid;
    border-width: var(--bordes);
    
  }

  .prop-logo
  {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .prop_busc
  {
    
    align-items: center;

  }

  .circulo-logo
  {
    height: 120px;
    width: 120px;
    border-style: solid;
    border-width: var(--bordes);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--color_bordes_prop);
    overflow: hidden;
  }

  .boton_nav
  {
    border-style: solid;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    border-width: var(--bordes);
    border-color: var(--color_bordes_prop);
    height: 25px;
    font-size: 20px;
    transition: 0.5s;
  }

  .boton_nav:hover
  {
    color: white;
    background-color: var(--color_bordes_prop);
    border-color: #58787A;
    padding-left: 20px;
    
    
  }

  .primer_boton
  {
    grid-area: p_b;
  }

  .segundo_boton
  {
    grid-area: s_b;
  }

  .tercer_boton
  {
    grid-area: t_b;
  }

  .cuarto_boton
  {
    grid-area: c_b;
  }

